.hero{
    background-image: url('/src/assets/fondo.jpg');
     /* cambiar imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.hero-content{
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover{
    background-color: white;
    color: black;
}